.table_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table_container h2{
    margin: 30px;
}
.table_container table{
    width: 80%;
    border-collapse: collapse;
}

.table_container table tr {
    border: none;
}

.table_container table tr th{
    background-color: rgb(78, 223, 179);
    height: 50px;
    border: none;
}

.table_container table tr td{
    text-align: center;
    height: 45px;
    border-bottom: .5px solid;
}

.table_container table tr td button{
    width: 3rem;
    height: 35px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

#edit{
    background-color: rgb(9, 143, 233);
    
}
#delete{
    background-color: rgb(238, 70, 70);
}